/* src/components/TodoList.css */

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Estilo para quando a tarefa estiver concluída */
.completed {
  text-decoration: line-through;
  background-color: lightgreen; /* Adicione a cor verde para o fundo do objeto */
}

.button-group {
  display: flex;
}

.button-group button {
  margin-left: 5px;
}
